body {
    background: #000;
    color: #fff;
    padding: 25px;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* changed height to min-height */
    margin: 0; /* added margin reset */
}

.container3 {
    position: relative;
    width: 100%;
    min-height: 100vh; /* changed height to min-height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Added to center vertically */
    --s: 55px;
    --c1: #898787;
    --c2: #676767;
    --c3: #424040;
    --_g: 0 120deg,#0000 0;
    background:
            conic-gradient(at calc(250%/3) calc(100%/3),var(--c3) var(--_g)),
            conic-gradient(from -120deg at calc(50%/3) calc(100%/3),var(--c2) var(--_g)),
            conic-gradient(from 120deg at calc(100%/3) calc(250%/3),var(--c1) var(--_g)),
            conic-gradient(from 120deg at calc(200%/3) calc(250%/3),var(--c1) var(--_g)),
            conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2) 60deg,var(--c1) var(--_g)),
            conic-gradient(from 60deg at calc(200%/3) 50%,var(--c1) 60deg,var(--c3) var(--_g)),
            conic-gradient(from -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
    background-size: calc(var(--s)*1.732) var(--s);
}

.container, .container2 {
    width: 80%;
    max-width: 625px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    overflow: hidden;
}

#board {
    width: 60vw;
    max-width: 600px; /* Added max-width */
    max-height: 600px;
    margin: 20px auto;
}

#status {
    margin-top: 10px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #3e8e41;
}
